body{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid greenyellow;
}
#start , #status{
    font-size: 22px;
}
canvas{
    border: 5px dashed cyan;
    box-shadow: 1px 1px 9px cyan;
}